<!-- Added by McDic for metadata -->
<article class="md-post md-post__excerpt md-mcdic--meta">
    <header class="md-post__header">
        <div class="md-post__meta md-meta">
            <ul class="md-meta__list">
                {% if page.meta.date and page.meta.date.updated %}
                    <li class="md-meta__item">
                        {% include ".icons/material/calendar-edit.svg" %}
                        <div class="text">
                            Updated at {{ page.meta.date.updated }}
                            {% if page.meta.commit.updated %}
                            (
                                <a href="{{ config.repo_url }}/commit/{{ page.meta.commit.updated }}">
                                    {{ page.meta.commit.updated[:7] }}..
                                </a>
                            )
                            {% endif %}
                        </div>
                    </li>
                    <li class="md-meta__item">
                        {% include ".icons/material/calendar-plus.svg" %}
                        <div class="text">
                            Created at {{ page.meta.date.original or page.meta.date.created }}
                            {% if page.meta.date.original %}
                                ( from outside )
                            {% elif page.meta.commit.created %}
                                (
                                    <a href="{{ config.repo_url }}/commit/{{ page.meta.commit.created }}">
                                        {{ page.meta.commit.created[:7] }}..
                                    </a>
                                )
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                {% if page.meta.views %}
                    <li class="md-meta__item">
                        {% include ".icons/material/eye-plus.svg" %}
                        <div class="text">
                            {{ page.meta.views }} unique users visited
                        </div>
                    </li>
                {% else %}
                    <li class="md-meta__item">
                        {% include ".icons/material/eye-remove.svg" %}
                        <div class="text">
                            User statistics not available
                        </div>
                    </li>
                {% endif %}
                {% if page.meta.edit_history %}
                    <li class="md-meta__item">
                        {% include ".icons/octicons/git-commit-16.svg" %}
                        <div class="text">
                            Edit history:
                            <a href="{{ page.meta.edit_history }}">
                                {{ "../" + page.meta.edit_history.split("/")[-1] }}
                            </a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </header>
</article>
