@keyframes fading404 {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 30%;
    }
    100% {
        opacity: 100%;
    }
}

.md-404--not-found svg {
    animation: fading404 3000ms infinite;
    fill: var(--md-typeset-color);
}

.md-404--not-found p {
    text-align: center;
    font-weight: bolder;
}
