article.md-content__inner.md-typeset img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

article.md-content__inner.md-typeset .md-typeset__scrollwrap .md-typeset__table table {
    overflow-x: hidden;
}
