.md-typeset hr.md-mcdic__excerpt_divider {
    margin: 0;
    margin-top: calc(2.5rem - 1px);
    margin-bottom: 0.5rem;
}

article.md-post--excerpt {
    margin-bottom: 0;
}

article.md-post--excerpt .md-post__action a {
    font-weight: bolder;
}

article.md-post--excerpt li.md-meta__item {
    line-height: 150%;
}
