.md-source__repository .md-source__facts {
    display: none;
}

img.md-404--not-found {
    margin-bottom: 40px;
}

.md-content--post img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
