.md-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
}

.md-main {
    display: block;
    margin-bottom: 300px;
}

.md-source__repository .md-source__facts {
    display: none;
}

.md-sidebar__scrollwrap {
    overflow-y: hidden;
}


.md-post--excerpt {
    margin-bottom: 0;
}

.md-typeset hr.md-mcdic__excerpt_divider {
    border-bottom: .05rem solid var(--md-typeset-a-color);
    margin: 0;
    margin-top: calc(2.5rem - 1px);
    margin-bottom: 0.5rem;
}

.md-sidebar--secondary .md-nav__item .md-nav__link--active {
    color: var(--md-default-fg-color--light);
}
