@media (min-height: 800px) {
    .md-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
    }

    .md-main {
        display: block;
        margin-bottom: 300px;
    }

    .md-footer .md-copyright {
        font-weight: bolder;
    }
}
